<style>
    ion-label {
        color: rgb(133, 125, 125);
    }

    ion-item {
        border: 1px solid #FFFFFF;
    }

    .error {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        color: red;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1em;
    }

    img {

        display: block;
        margin: 0 auto;
        border-radius: 25px;
        /* margin-top: 15%; */
    }

    button {
        background-color: rgb(136, 135, 135);
    }
</style>
<ion-content>
    <form padding-horizontal autocomplete="off">
        <img src="assets/imgs/login1.png" alt="USER" height="220">

        <p *ngIf="!valid || !canceled_trip" style="color:red;text-align:center">*User Failed to start trip</p>

        <ion-item>
            <ion-icon item-right (click)="res()" color="secondary" *ngIf="showPsw" name="eye"></ion-icon>
            <ion-icon item-right (click)="res()" color="secondary" *ngIf="!showPsw" name="eye-off"></ion-icon>
            <ion-input clearInput name="password" placeholder="Enter Password" *ngIf="!showPsw" [(ngModel)]="Password" type="text"></ion-input>
            <ion-input clearInput name="password" placeholder="Enter Password" *ngIf="showPsw" [(ngModel)]="Password" type="Password"></ion-input>
        </ion-item>
        <div padding text-center>
            <button ion-button padding block (click)="checkUser(Password)" type="submit">Login</button>
        </div>
    </form>
</ion-content>