<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header> -->
<!-- 
<ion-content class=" cards-bg">
  <ion-row>
    <ion-col>
      <ion-card (click)="datewise()">
        <img src="assets/imgs/calendar_dashboard.png" height="250" style="opacity:0.7" />
        <div class="card-title"></div>
        <div class="card-subtitle">Milk</div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card (click)="customerwise()">
        <img src="assets/imgs/additional_products.jpg" height="250" style="opacity:0.7" />
        <div class="card-title"></div>
        <div class="card-subtitle">Other</div>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)="datewise()">
        <img src="assets/imgs/payment.png" height="250" style="opacity:0.7" />
        <div class="card-title"></div>
        <div class="card-subtitle">Payment</div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card (click)="customerwise()">
        <img src="assets/imgs/customerwise.png" height="250" style="opacity:0.7" />
        <div class="card-title"></div>
        <div class="card-subtitle">Customer Wise</div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content> -->

<ion-content>
  <ion-card>
    <ion-card-header style="background-color:#E6E6E6;color:#A3A1A1">
      CONTENT
    </ion-card-header>
    <div style="overflow-x:auto;">
      <table>

        <tr>
          <th>Product</th>
          <th>Pickup</th>
          <th>Delivered</th>
          <th>Remaining</th>

        </tr>
        <tr>
          <td>Milk1</td>
          <td>50</td>
          <td> 45</td>
          <td>5</td>

        </tr>
        <tr>
          <td>Milk2</td>
          <td>35</td>
          <td> 30</td>
          <td>5</td>
        </tr>
        <tr>
          <td>Ghee</td>
          <td>35</td>
          <td> 30</td>
          <td>5</td>
        </tr>
      </table>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:#E6E6E6;color:#A3A1A1">
      BOTTLE
    </ion-card-header>
    <div style="overflow-x:auto;">
      <table>

        <tr>
          <th>Product</th>
          <th>Collected</th>
        </tr>
        <tr>
          <td>Milk1</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Milk2</td>
          <td>30</td>
        </tr>
      </table>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:#E6E6E6;color:#A3A1A1">
      PAYMENT
    </ion-card-header>
    <div style="overflow-x:auto;">
      <table>

        <tr>
          <th>Cash(Rs.)</th>
          <th>Cheque(Rs.)</th>
          <th>token1(Rs.)</th>
          <th>token2</th>

        </tr>
        <tr>
          <td>5000</td>
          <td>3000</td>
          <td>25</td>
          <td>10</td>
        </tr>
      </table>
    </div>
  </ion-card>
</ion-content>