<!-- <ion-tabs color="dark">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Trip" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Delivered Status" tabIcon="logo-dribbble"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Add" tabIcon="add-circle"></ion-tab>
</ion-tabs> -->
<ion-tabs color="dark">
  <!-- <ion-tab [root]="tab0root" tabTitle="Dashboard" tabIcon="analytics"></ion-tab> -->
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Add" tabIcon="add-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Trip" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Report" tabIcon="logo-dribbble"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Manage" tabIcon="ios-construct"></ion-tab>
</ion-tabs>