page-home {

  #empID:nth-child(odd)
  {
    border: 2px solid #ada4a4;
    background-color: #928d8d;
    border-radius : 80%;
    padding:5px;
    height: 45px;
  }
  .employeeID
  {
    margin-top:8px;
    color:rgb(209, 209, 209);
  
  }
  .name
  {
    color:rgb(94, 91, 91);
  }
  .deliTime
  {
    color: rgb(167, 167, 167);
  }
  
  // .accordian
  // {
  //   // padding: 0px 16px;
  //   max-height: 0px;
  // }
  .item-md ion-avatar ion-img, .item-md ion-avatar img {
    border-radius: 50%;
    width: 45px;
    height: 40px;
    margin-top: -13px;
}
// ion-row:nth-of-type(even) {
//   background:rgb(241, 241, 241); 
// }

.item.item-md .checkbox-md {
 
  margin: 3px 3px 3px 0px; 
  margin-left:20px;
}
// ion-col
// {
//   text-align:left;
// }

}
