<ion-header style="background-color:dark">
  <p>
    <span style="margin-left:10px;color:grey">02,Monday,April 2018</span>
    <span style="float:right;margin-right:10px;color:grey">EVENING</span>
  </p>
</ion-header>

<ion-content>


  <ion-list class="chat-sliding-demo">
    <ion-item-sliding *ngFor="let emp of driver;let i=index" #slidingItem>
      <ion-item>


        <h2 class="name">{{emp.name}}

        </h2>
        <p class="deliTime">
          {{emp.address}}
        </p>

        <p>

          <a style="font-size:13.5px;" (click)="makeCall(emp.mobile)">
            <ion-icon color="dark" name="phone-portrait" (click)="makeCall(emp.mobile)">&nbsp;:</ion-icon>
            <span style="color:#a5a2a2">{{emp.mobile}}</span>
          </a>
          &nbsp;&nbsp;
          <a style="font-size:15px;color:rgb(34, 119, 41)" (click)="Onclick(emp)" *ngIf="!emp.visible"> {{emp.other}}</a>
          <a style="font-size:15px;color:red" (click)="Onclick(emp)" *ngIf="emp.visible">close</a>

        </p>


        <ion-note item-end *ngIf="emp.status=='Not Delivered' && !emp.visible"> {{emp.expect_delTime}}
          <br>
          <ion-icon name="thumbs-down" style="font-size:25px;color:red"></ion-icon>
        </ion-note>
        <ion-note item-end *ngIf="emp.status=='On Process'  && !emp.visible">{{emp.expect_delTime}}
          <br>
          <ion-icon name="walk" style="font-size:25px;color:rgb(206, 97, 97)"></ion-icon>
        </ion-note>
        <ion-note item-end *ngIf="emp.status=='not' && !emp.visible">{{emp.expect_delTime}}
          <br>
          <ion-icon name="close-circle" style="font-size:30px;color:rgb(206, 97, 97)"></ion-icon>
        </ion-note>
        <ion-note item-end *ngIf="emp.status=='delivered' && !emp.visible">{{emp.expect_delTime}}
          <br>
          <ion-icon name="thumbs-up" style="color:rgb(11, 156, 11);font-size:25px;"></ion-icon>
        </ion-note>
        <span item-end (click)="presentPopover($event)">

        </span>
        <div *ngIf="emp.visible">
          <hr>
          <ion-card style="color:rgb(151, 148, 148);border:1px solid rgb(189, 189, 189)">
            <ion-grid>
              <ion-row style="background-color:rgb(230, 230, 230)">
                <ion-col col-offset-3>
                  Delivery Sheet
                </ion-col>
              </ion-row>
              <ion-row style="border-bottom:2px solid #e5eae5">
                <ion-col col-4>
                  <b> Product</b>
                </ion-col>
                <ion-col col>
                  <b>type</b>
                </ion-col>
                <ion-col col>
                  <b>Price</b>
                </ion-col>
                <ion-col col>
                  <b>Status</b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  Milk (1L)
                </ion-col>
                <ion-col col>
                  tokken
                </ion-col>
                <ion-col col>
                  {{emp.price1}}
                </ion-col>
                <ion-col (click)="delivery1()">
                  <!-- <ion-checkbox text-center></ion-checkbox> -->
                  <ion-icon *ngIf="!del1" style="font-size:25px" name="checkmark-circle-outline"></ion-icon>
                  <ion-icon color="secondary" style="font-size:25px" *ngIf="del1" name="checkmark-circle-outline"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-4>
                  Ghee (500ml)
                </ion-col>
                <ion-col col>
                  cash
                </ion-col>
                <ion-col col>
                  {{emp.price2}}
                </ion-col>
                <ion-col (click)="delivery()">
                  <!-- <ion-checkbox text-center></ion-checkbox> -->
                  <ion-icon *ngIf="!del" style="font-size:25px" name="checkmark-circle-outline"></ion-icon>
                  <ion-icon color="secondary" style="font-size:25px" *ngIf="del" name="checkmark-circle-outline"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            <hr>
            <ion-row>
              <ion-item>
                <ion-label style="color:rgb(151, 150, 150)">Cash Received:</ion-label>
                <ion-toggle [(ngModel)]="ans2" (ionChange)="cash_received(ans)"></ion-toggle>
              </ion-item>
              <ion-item>
                <ion-label style="color:rgb(151, 150, 150)">Token Received:</ion-label>
                <ion-toggle [(ngModel)]="ans3" (ionChange)="cash_received(ans)"></ion-toggle>
              </ion-item>
            </ion-row>
          </ion-card>
          <hr>
          <ion-card>
            <ion-row style="background-color:#E6E6E6;color:#9F9C9C">
              <ion-col col-offset-3>
                Bottle & Token Status
              </ion-col>
            </ion-row>

            <ion-list no-lines>
              <ion-item>
                <ion-label> Total Bottle : </ion-label>
                <ion-input disabled type="number" value="5" placeholder="Number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Received Bottle :</ion-label>
                <ion-input type="number" placeholder="Count"></ion-input>
              </ion-item>
              <hr>
              <ion-item>
                <ion-label>Token Issued :</ion-label>
                <ion-toggle [(ngModel)]="answer" (ionChange)="toggle_button(answer)"></ion-toggle>
              </ion-item>
              <ion-item *ngIf="show_tokken_slide">
                <ion-label>Choose Token type :</ion-label>
                <ion-select [(ngModel)]="gender" multiple>
                  <ion-option value="500ml">500ml</ion-option>
                  <ion-option value="1000ml">1000ml</ion-option>
                </ion-select>
              </ion-item>
              <ion-item *ngIf="show_tokken_slide">
                <ion-label style="color:rgb(151, 150, 150)">Cash Received:</ion-label>
                <ion-toggle [(ngModel)]="ans" (ionChange)="cash_received(ans)"></ion-toggle>
              </ion-item>
              <ion-item *ngIf="show_tokken_slide">
                <ion-label style="color:rgb(151, 150, 150)">Check Received:</ion-label>
                <ion-toggle [(ngModel)]="ansd"></ion-toggle>
              </ion-item>
              <hr>
              <ion-item>
                <button ion-button block style="background-color:grey">save</button>
              </ion-item>
            </ion-list>
          </ion-card>
        </div>

        <div class="hidden" *ngIf="emp.showmap">
          <ion-card-content>
            <agm-map style=" height: 200px;" (mapClick)="placeMarker($event)" [latitude]="emp.lat" [longitude]="emp.lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
            <br>
            <a style="color:red" (click)="closeMap(emp,slidingItem)">
              <ion-icon name="close-circle">&nbsp;&nbsp;close map</ion-icon>
            </a>
          </ion-card-content>
        </div>
      </ion-item>
      <ion-item-options *ngIf="slider" side="right">
        <button ion-button color="secondary" (click)="showMap(emp,slidingItem)">
          <ion-icon name="pin"></ion-icon>
          MAP
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>