ion-card {
    position: relative;
    text-align: center;
    
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.5em;
    width: 100%;
    font-weight: bold;
    color: rgb(71, 70, 70);
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: rgb(133, 129, 129);
  }
