<ion-header>
    <ion-navbar color="dark">
        <ion-title>
            Add Customer
            <!-- <button ion-button style="float:right" color="light">
                <ion-icon name="add-circle"></ion-icon>&nbsp;ADD
            </button> -->
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label color="dark" floating> Name</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="dark" floating>Address</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="dark" floating>Mobile</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>
    <!-- <ion-card>
        <ion-item style="color:rgb(109, 103, 103, 1)">
            <ion-label> Product Entry</ion-label>
            <ion-toggle [(ngModel)]="ans" (ionChange)="Pr_detail(ans)" style="color:grey" item-right></ion-toggle>
        </ion-item>
        <ion-item *ngIf="visible" style="background-color:rgb(235, 233, 233)">
            <ion-label>product1 :</ion-label>
            <ion-select [(ngModel)]="toppings">
                <ion-option>Milk (500ml)</ion-option>
                <ion-option>Milk (1L)</ion-option>
                <ion-option>Ghee (500ml)</ion-option>
                <ion-option>Ghee (1L)</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="visible" style="background-color:rgb(235, 233, 233)">
            <ion-label color="dark" style="color:rgb(172, 171, 171)">Quantity :</ion-label>
            <ion-input type="tel" placeholder="Count"></ion-input>
        </ion-item>
        <ion-item *ngIf="visible" style="background-color:rgb(235, 233, 233)">
            <ion-label>Payment Type: :</ion-label>
            <ion-select [(ngModel)]="payment">
                <ion-option>cash</ion-option>
                <ion-option>Token</ion-option>
                <ion-option>Credit</ion-option>
            </ion-select>
        </ion-item>

    </ion-card> -->
    <br>
    <div text-center>
        <button style="padding:25px;width:100px" type="submit" (click)="save()" ion-button color="dark">SAVE</button>
    </div>
</ion-content>