<ion-header>
    <ion-navbar>
        <ion-title>
            Details
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content> 
    <ion-card style="border:2px solid rgb(184, 178, 178);">
        <ion-item>
            <ion-avatar item-start>
                <ion-icon ios="ios-contact" md="ios-contact" style="font-size:40px;"></ion-icon>
            </ion-avatar>
            <h2>name
            </h2>
            <p>individual_details</p>
            <button ion-button color="dark" item-end>Save</button>
        </ion-item>
        <ion-card-content>
            <agm-map style=" height: 200px;" (mapClick)="placeMarker($event)" [latitude]="individual_details.lat" [longitude]="individual_details.lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </ion-card-content>
    </ion-card>
    <ion-card style="background-color:rgb(184, 178, 178);">
        <ion-card-header>
            <p style="color:rgb(255, 255, 255)">
                <span item-start>
                   details.product
                </span>&nbsp;(
                <span>
                    details.content
                </span>)
                <span style="float:right">
                    quantity:details.quantity
                </span>
            </p>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label> Product Delivered</ion-label>
                <ion-toggle color="secondary" checked="false"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label> Token Received</ion-label>
                <ion-toggle color="secondary" checked="false"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label> Bottle Received</ion-label>
                <ion-toggle color="secondary" checked="false"></ion-toggle>
            </ion-item>
        </ion-card-content>
        <button (longPress)="onLongPress($event)">Mystuff</button>
    </ion-card> 
    <!-- <button ion-button (click)="presentPopover($event)">Open</button>
    <button ion-button (click)="presentPopover($event)">Open</button> -->
    <!-- <button ion-button (click)="OnClick()">CLICK
        <ion-icon item-right name="{{icon}}"></ion-icon>
    </button>
    {{status}}
     <ion-list>
        <ion-item *ngFor="let p of content_details" text-wrap>
            {{p.product}}
            <ion-list>
                <ion-item *ngFor="let s of p.content" text-wrap>
                    {{s}}
                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list> -->
</ion-content>
