<ion-header>
    <ion-navbar color="dark">
        <ion-title>Datewise Report</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding-vertical>
    <ion-list>
        <ion-item>
            <ion-label style="font-weight:bold">From</ion-label>
            <ion-datetime displayFormat="DD-MM-YY"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight:bold">To</ion-label>
            <ion-datetime displayFormat="DD-MM-YY"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label style="font-weight:bold">Trip type</ion-label>
            <ion-select>
                <ion-option>ALL</ion-option>
                <ion-option>Morning</ion-option>
                <ion-option>Evening</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-card>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>Date</th>
                    <th>Trip</th>
                    <th>Delivery</th>
                    <th>Payment</th>
                    <th>Bottle</th>
                </tr>
                <tr *ngFor="let det of details;let i=index">
                    <td col-3 style="text-align:left">{{det.date}}</td>
                    <td style="text-align:center">{{det.trip}}</td>
                    <td style="text-align:justify"> {{det.prod_content}}/{{det.delivered_content}}</td>
                    <td style="text-align:justify">
                        <ion-icon class="table-icon" name="cash"></ion-icon>
                        {{det.total_tokken}}
                        <br>
                        <ion-icon class="table-icon" name="card"></ion-icon> {{det.collected_tokken}}
                        <br>
                        <ion-icon class="table-icon" name="list-box"></ion-icon>
                        10
                    </td>
                    <td style="text-align:justify">{{det.tot_bottle}}/{{det.collected_bottle}}</td>
                </tr>
            </table>
        </div>
    </ion-card>
</ion-content>