tr:nth-child(even) {
    background-color: #f0f0f0;
}

table {
    border:3px solid rgb(211, 211, 211);
    border-collapse: collapse;
    width: 100%;
}

th,
td {

    text-align: left;
    padding: 11px;
    color:grey;
}
.table-icon
{
    color:rgb(158, 156, 156)
}
