<ion-content>
    <!-- <ion-list>
        <ion-title>Status</ion-title>
        <ion-item (click)="Bottle_status(status)">
            <ion-label>Bottle Received</ion-label>
            <ion-checkbox [(ngModel)]="status"></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label>Tokken Received</ion-label>
            <ion-checkbox></ion-checkbox>
        </ion-item>

        <ion-item>
            <ion-label>Delivery Status</ion-label>
            <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item style="text-align:center">
            <button style="padding:20px;" ion-button value="9843279919">9843279919 &nbsp; &nbsp;
                <ion-icon name="call"></ion-icon>
            </button>
        </ion-item>
    </ion-list> -->


    <ion-header style="margin-left:15px;height:25px;font-size:20px;">
        order
    </ion-header>
    <br>
    <ion-list>
        <!-- <ion-item> -->
        <ion-row>
            <ion-col col-auto>
                <img src="assets/imgs/milk_half_card.png" alt="Contact" height="25">
            </ion-col>
            <ion-col col-auto>
                <ion-input type="tel" name="qty_full" required></ion-input>
            </ion-col>
        </ion-row>
        <!-- </ion-item> -->
    </ion-list>
</ion-content>