<ion-header>
    <ion-navbar color="dark" hideBackButton>
        <ion-title>
            Driver Entry
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class=" cards-bg">
    <ion-card class="card1" *ngIf="!visible" style="margin-top:50%">
        <ion-card-header style=" color: grey">
            Are You sure to start the trip?
        </ion-card-header>
        <ion-card-content>
            <button ion-button color="dark" (click)="show_hide_trip_alert()" type="submit ">Yes</button>
            <button ion-button color="dark" type="submit ">No</button>
        </ion-card-content>
    </ion-card>
    <div *ngIf="visible">
        <ion-card class="cards-list-demo">
            <ion-card-header>
                Products &nbsp;
                <ion-icon name="add-circle" style="font-size:30px" (click)="Add_product()"></ion-icon>
            </ion-card-header>
            <hr>
            <ion-list>
                <ion-item>
                    <ion-label>
                        <ion-icon name='md-pint' item-start></ion-icon>
                        Milk1 (50) :
                    </ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
                <hr>
                <ion-item>
                    <ion-label>
                        <ion-icon name='md-pint' item-start></ion-icon>
                        Milk2 (80) :
                    </ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
                <hr>
                <ion-item>
                    <ion-label>
                        <ion-icon name='flame' item-start></ion-icon>
                        Ghee (5) :
                    </ion-label>
                    <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item *ngIf="prod">
                    <ion-select [(ngModel)]="gender" multiple>
                        <ion-option value="500ml">500ml</ion-option>
                        <ion-option value="1000ml">1000ml</ion-option>
                    </ion-select>
                    <!-- <ion-input type="text"></ion-input> -->
                </ion-item>
            </ion-list>
            <div style="padding:20px">
                <button color="dark" (click)="save()" ion-button block>Save</button>
            </div>
        </ion-card>

    </div>
</ion-content>